*.pyc
*.pyo
__pycache__/
*.pyd


.env
*.env


db.sqlite3


*/migrations/*.py
!*/migrations/__init__.py


/static/
media/


.vscode/
.idea/


*.log
*.pot
*.pyc
.DS_Store
Thumbs.db

venv/
env/
.virtualenv/

*.swp
*.swo
*.swn
*.sws

.DS_Store
